<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    POS
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a class="pos-show" data-pos="jj" role="menuitem" tabindex="-1" href="#">Adjective</a></li>
    <li role="presentation"><a class="pos-show" data-pos="nn" role="menuitem" tabindex="-1" href="#">Noun</a></li>
    <li role="presentation"><a class="pos-show" data-pos="det" role="menuitem" tabindex="-1" href="#">Article</a></li>
    <li role="presentation"><a class="pos-show" data-pos="vbd" role="menuitem" tabindex="-1" href="#">Verb</a></li>
    <li role="presentation"><a class="pos-show" data-pos="rb" role="menuitem" tabindex="-1" href="#">Advert</a></li>
  </ul>
</div>