<% if user_signed_in? %>
  <div class="row">
    <div class="folder-container col-md-3">
      <%= render partial: "save", :locals => { :is_new => true } %>
      <%= render partial: "folders" %>
    </div>
    <div class="writing-container col-md-9">

      <a class="folder-expand btn btn-link"><i class="fa fa-angle-double-right"></i></a>
      <a class="folder-collapse navbar-collapse collapse btn btn-link"><i class="fa fa-angle-double-left"></i></a>
      <a class="full-screen btn btn-link">full screen</a>

      <div class="unsaved-label label label-danger">Unsaved</div>
      <input type="text" class="piece-title" placeholder="New Title" autocomplete="off">
      <br />
      <% if false %>
        <div class="editme editmain piece-body"><div><br /></div></div>
      <% else %>
        <div class="editme editmain piece-body"></div>
      <% end %>
      <div class="possed" data-toggle=".piece-body" style="display:none"></div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <span class="stats" data-for=".editmain"></span>
        </div>
      </div>
    </div>
  </div>
<% end %>