<div class="row">
  <div class="folder-container col-sm-3">
    <%= render partial: "save", :locals => { :is_new => false } %>
    <%= render partial: "folders" %>
  </div>
  <div class="writing-container col-sm-9">
    <a class="folder-expand btn btn-link"><i class="fa fa-angle-double-right"></i></a>
    <a class="folder-collapse btn btn-link"><i class="fa fa-angle-double-left"></i></a>
    <a class="full-screen btn btn-link">full screen</a>
    <input type="text" class="piece-title" placeholder="Title" value="<%= @piece.title %>">
    <br />
    <div class="editme editmain piece-body"><%= raw(@piece.body) %></div>

    <div class="possed" data-toggle=".piece-body" style="display:none"></div>
    <br />
    <div class="row">
      <div class="col-sm-12">
        <span class="stats" data-for=".editmain"></span>
      </div>
    </div>
  </div>
</div>