// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-heading {
  color: #AAA;
  a {
    color: #AAA;
    // text-decoration: underline;
    padding-bottom: 3px;
    border-bottom: solid 1px #DDD;
    &:hover {
      text-decoration: none;
      color: #888;
    }
  }
}
.bottom-icons {
  // position: fixed;
  // bottom: 20px;
  // right: 20px;
  a {
    color: #CCC;
    &:hover {
      color: #AAA;
    }
  }
}

.btn-superbig {
  // padding: 20px 42px;
  // font-size: 2e;
  // margin-right: 20px;
  margin-top: 20px;
  // border-radius: 0px;
  &.btn-default {
    color: #888;
  }
}

#sidenav {
  padding: 0px;
}
.sidenav-toggle {
  margin: 0;
  padding: 6px 10px;
  float: none;
  border: 1px solid #CCC;
  border-left: 0px;
}

@media (max-width: 990px) {
  .navbar-toggle {
    display: inline-block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .collapse.in{
    display:block !important;
  }
}